{% extends 'HomePage/navbar.html' %}

{% load static %}	

{% block content %}

<!--  min-width: 100vw; min-height: 100vh; object-fit: contain; max-width: 100vw; max-height: 100vh; -->

    <div class="" style="background: url({% static 'search/images/bg_1.jpg' %}) no-repeat center center fixed ;  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; min-height: 100vh">
    <!-- <div class=" img" style="background-image: url({% static 'search/images/bg_1.jpg' %});"> -->

<!-- ||||||||||||||||||||||||||||||||||  -->
      <div class="overlay"></div>

      <div class="container">

      	<div class="row d-md-flex no-gutters slider-text align-items-center justify-content-center">

	        <!-- <div class="col-md-10 d-flex align-items-center ftco-animate"> -->

	        	<div class="text text-center pt-5 mt-md-5">

<h3 class="mb-4" style="color: #fff">Find Trips according to your needs</h3>
	            <h1 class="mb-5" style="color: #fff">The Eassiest Way to Plan your trips</h1>


<!-- <div class="ftco-counter ftco-no-pt ftco-no-pb">
			        	<div class="row">
				          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
				            <div class="block-18">
				              <div class="text d-flex">
				              	<div class="icon mr-2">
				              		<span class="flaticon-worldwide"></span>
				              	</div>
				              	<div class="desc text-left">
					                <strong class="number" data-number="46">0</strong>
					                <span>Countries</span>
				                </div>
				              </div>
				            </div>
				          </div>
				          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
				            <div class="block-18 text-center">
				              <div class="text d-flex">
				              	<div class="icon mr-2">
				              		<span class="flaticon-visitor"></span>
				              	</div>
				              	<div class="desc text-left">
					                <strong class="number" data-number="450">0</strong>
					                <span>Companies</span>
					              </div>
				              </div>
				            </div>
				          </div>
				          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
				            <div class="block-18 text-center">
				              <div class="text d-flex">
				              	<div class="icon mr-2">
				              		<span class="flaticon-resume"></span>
				              	</div>
				              	<div class="desc text-left">
					                <strong class="number" data-number="80000">0</strong>
					                <span>Active Employees</span>
					              </div>
				              </div>
				            </div>
				          </div>
				        </div>
			        </div> -->


							<div class="ftco-search my-md-5">
								<div class="row">
<!-- 
<div class="col-md-12 nav-link-wrap">
				            <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				              <a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Find a Job</a>

				              <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Find a Candidate</a>

				            </div>
				          </div> -->

<!-- ||||||||||||||||||||||||||||||||||  -->



				<div class="col-md-12 tab-wrap">
				            
				            <div class="tab-content p-4" id="v-pills-tabContent">

				              <div class="tab-pane fade active show" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
				              	<form action="/getplaces" method="get" class="search-job">
				              		<div class="row no-gutters">
				              			<div class="col-md mr-md-2">
				              				<div class="form-group">
					              				<div class="form-field">
					              					<div class="icon"><span class="icon-briefcase"></span></div>
									                <!-- <input type="text" class="form-control" placeholder="eg. Garphic. Web Developer"> -->
									                <select type="number" id="noofdays" class="form-control" name="no_of_days" placeholder="No. Of Days">
									                	 <option value="0" selected disabled hidden> 
														          Days
														      </option> 
												       	{% with ''|center:25 as range %}
														{% for _ in range %}
														    <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
														{% endfor %}
														{% endwith %}

									                </select>
									                <!-- <label for="noofdays">no of days</label> -->
									              </div>
								              </div>
				              			</div>
				              			<div class="col-md mr-md-2">
				              				<div class="form-group">
					              				<div class="form-field">
					              					<div class="icon"><span class="icon-briefcase"></span></div>
									                <!-- <input type="text" class="form-control" placeholder="eg. Garphic. Web Developer"> -->
													<select type="number" class="form-control" name="age" placeholder="Age">
														 <option value="0" selected disabled hidden> 
														          Age
														      </option>
														{% with ''|center:90 as range %}
														{% for _ in range %}

														    <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
														{% endfor %}
														{% endwith %}

														</select>

									              </div>
								              </div>
				              			</div><div class="col-md mr-md-2">
				              				<div class="form-group">
					              				<div class="form-field">
					              					<div class="icon"><span class="icon-briefcase"></span></div>
									                <!-- <input type="text" class="form-control" placeholder="eg. Garphic. Web Developer"> -->
													<select type="number" name="budget" class="form-control" placeholder="Budget">
														 <option value="0" selected disabled hidden> 
														          Budget
														      </option>
																{% with ''|center:200000 as range %}
														{% for _ in range %}
														{% if forloop.counter|divisibleby:5000 %}
														    <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
														{% endif %}
														
														{% endfor %}
														{% endwith %}

													</select>

									              </div>
								              </div>
				              			</div><div class="col-md mr-md-2">
				              				<div class="form-group">
					              				<div class="form-field">
					              					<div class="icon"><span class="icon-briefcase"></span></div>
									               <!--  <input type="text" class="form-control" placeholder="eg. Garphic. Web Developer"> -->
	<input type="text" class="form-control" name="from" placeholder="from">

									              </div>
								              </div>
				              			</div>
				              			<!-- <div class="col-md mr-md-2">
				              				<div class="form-group">
				              					<div class="form-field">
					              					<div class="select-wrap">
							                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
							                      <select name="" id="" class="form-control">
							                      	<option value="">Category</option>
							                      	<option value="">Full Time</option>
							                        <option value="">Part Time</option>
							                        <option value="">Freelance</option>
							                        <option value="">Internship</option>
							                        <option value="">Temporary</option>
							                      </select>
							                    </div>
									              </div>
								              </div>
				              			</div> -->
				              			<div class="col-md mr-md-2">
				              				<div class="form-group">
				              					<div class="form-field">
					              					<div class="icon"><span class="icon-map-marker"></span></div>
													<input type="date" name="start_date" class="form-control" placeholder="Start Date">
									                
									                <!-- <input type="text" class="form-control" placeholder="Location"> -->
									              </div>
								              </div>
				              			</div>
				              			<div class="col-md mr-md-2">
				              				<div class="form-group">
				              					<div class="form-field">
					              					<div class="icon"><span class="icon-map-marker"></span></div>
													<select type="number" name="no_of_people" class="form-control" placeholder="No. Of People">
														 <option value="0" selected disabled hidden> 
														        No. of people
														      </option>
														{% with ''|center:50 as range %}
														{% for _ in range %}

														    <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
														{% endfor %}
														{% endwith %}
													</select>
													
									                
									                <!-- <input type="text" class="form-control" placeholder="Location"> -->
									              </div>
								              </div>
				              			</div><div class="col-md mr-md-2">
				              				<div class="form-group">
				              					<div class="form-field">
					              					<!-- <div class=""><span class=""></span></div> -->
														<input type="checkbox" name="child"  class="" value="True"> child <br>
													
									                
									                <!-- <input type="text" class="form-control" placeholder="Location"> -->
									              </div>
								              </div>
				              			</div>
				              			<div class="col-md">
				              				<div class="form-group">
				              					<div class="form-field">
								                	<button type="submit" class="form-control btn btn-primary">Search</button>
	<!-- <input type="submit" class="form-control" value="submit"> -->
									              

									              </div>
								              </div>
				              			</div>
				              		</div>
				              	</form>
				              </div>
				          </div>
				      </div>
				  </div>
				</div>
			

				              <!-- <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-performance-tab">
				              	<form action="#" class="search-job">
				              		<div class="row">
				              			<div class="col-md">
				              				<div class="form-group">
					              				<div class="form-field">
					              					<div class="icon"><span class="icon-user"></span></div>
									                <input type="text" class="form-control" placeholder="eg. Adam Scott">
									              </div>
								              </div>
				              			</div>
				              			<div class="col-md">
				              				<div class="form-group">
				              					<div class="form-field">
					              					<div class="select-wrap">
							                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
							                      <select name="" id="" class="form-control">
							                      	<option value="">Category</option>
							                      	<option value="">Full Time</option>
							                        <option value="">Part Time</option>
							                        <option value="">Freelance</option>
							                        <option value="">Internship</option>
							                        <option value="">Temporary</option>
							                      </select>
							                    </div>
									              </div>
								              </div>
				              			</div>
				              			<div class="col-md">
				              				<div class="form-group">
				              					<div class="form-field">
					              					<div class="icon"><span class="icon-map-marker"></span></div>
									                <input type="text" class="form-control" placeholder="Location">
									              </div>
								              </div>
				              			</div>
				              			<div class="col-md">
				              				<div class="form-group">
				              					<div class="form-field">
									                <button type="submit" class="form-control btn btn-primary">Search</button>
									              </div>
								              </div>
				              			</div>
				              		</div>
				              	</form>
				              </div> -->
				            </div>
				          </div>
				      </div>
				  </div>


<!--  -->

	
	<!-- ============================================================================================--> 
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>


<!-- 
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script> -->
    
  </body>
</html>


{% endblock %}




<!-- </div> --> 

<!-- <body> -->
<!-- <form action="/PlanMyTrip/getplaces" method="get">
	<input type="number" name="no_of_days" placeholder="No. Of Days">
	<input type="number" name="age" placeholder="Age">
	<input type="number" name="budget" placeholder="Budget">
	<input type="text" class="form-control" name="from" placeholder="from">
	<input type="date" name="start_date" class="form-control" placeholder="Start Date">
	<input type="number" name="no_of_people" class="form-control" placeholder="No. Of People">
	<input type="checkbox" name="child" class="form-control" value="True"> child <br>
	<input type="submit" class="form-control" value="submit">

</form> -->



<!-- good form -->

